<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- HTML 주석입니다.(Ctrl + /) -->
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: 'InkLipquid';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color: lightblue; font-family: 'InkLipquid';">
    <h1>도레미파솔라시도</h1>

    <script>
        alert("Hello, Julyun!");
    </script>
</body>
</html>
