<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
          font-family: '770Balsa';
          src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/770Balsa.woff2') format('woff2');
          font-weight: normal;
          font-style: normal;
        }
    </style>
</head>
<body style="background-color: gray; font-family: '770Balsa';">
    <h1>한 번 더 연습해보기</h1>

    <script>
      alert("Hello, Julyun!, 한 번 더 성공했구나!");
    </script>
</body>
</html>